
<!DOCTYPE html>
<html lang="en">
<head>
    <title>ĐỒ VIỆT - Tinh hoa Ẩm thực</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800" rel="stylesheet">

    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/animate.css" rel="stylesheet" />
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/css/aos.css" rel="stylesheet" />
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" />


    <link href="~/Content/fonts/ionicons/css/ionicons.css" rel="stylesheet" />
    <link href="~/Content/fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/fonts/flaticon/font/flaticon.css" rel="stylesheet" />




    <link href="~/Content/css/site.css" rel="stylesheet" type="text/css" />


</head>
<body>

    <header role="banner">
        <!-- thanh header  -->
        <nav class="navbar navbar-expand-md navbar-dark bg-primary ">
            <div class="container">
                <a class="navbar-brand"  href="@Url.Action("Index","Home")">
                    <img src="~/Content/img/logo.png" style="width:70px; height:60px" />
                </a>
                <button class="navbar-toggler" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarsExample05">
                    <ul class="navbar-nav ml-auto pl-lg-5 pl-0">

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="@Url.Action("thucdon","Home")" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Thực Đơn</a>
                            <div class="dropdown-menu" aria-labelledby="dropdown04">
                                <a class="dropdown-item" href="@Url.Action("thucdon","Home")">Món Ăn</a>
                                <a class="dropdown-item" href="@Url.Action("thucdon","Home")">Thức Uống</a>
                                <a class="dropdown-item" href="@Url.Action("thucdon","Home")">Combo</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="@Url.Action("themnl","Home")">Đặt Hàng</a>
                        </li>
                      

                        
                           @*@if (Session["Login"] == null)
                           {
                                <li class="nav-item", hidden>
                                    <a class="nav-link" href="@Url.Action("themnl", "Home")">Quản lý Nguyên liệu</a>
                                </li>
                           }*@




                        <li class="nav-item">
                            <a class="nav-link" href="lienhe.html">Liên Hệ</a>
                        </li>

                    </ul>
                    <label style="color:white;font-size:20px;margin-left:50px;">
                        @if (Session["Login"] != null)
                        {
                            
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("themnl", "Home")">Quản lý Nguyên liệu</a>
                            </li>
                            <text>
                                Xin chào, @Session["Login"].ToString()
                            </text>
                            <a class="nav-item cta-btn" href="@Url.Action("Logout","Home")" name="dangxuat" style="font-size:15px; padding:20px; color:white;">Đăng xuất</a>
                        }
                    </label>
                    @if (Session["Login"] == null)
                    {
                        <li class="nav-item cta-btn" style="list-style:none">
                            <a class="cta-btn" href="@Url.Action("dangki","Home")">Đăng Kí</a>
                        </li>

                        <li class="nav-item cta-btn" style="list-style:none">
                            <a class="nav-item cta-btn" href="@Url.Action("dangnhap", "Home")">Đăng Nhập</a>
                        </li>

                    }


                </div>

            </div>

        </nav>

    </header>
    <!-- END header -->



    <div class="slider-wrap">
        <section class="home-slider owl-carousel">
            <div class="slider-item">
                <img src="~/Content/img/trang_2.jpg" />
                @*<div class="container">
            <div class="row slider-text align-items-center justify-content-center">
                <div class="col-md-8 text-center col-sm-12 ">
                    <h1 data-aos="fade-up">THƯỞNG THỨC ĐỒ ĂN CỦA BẠN TẠI ĐỒ VIỆT</h1>
                </div>
            </div>*@
            </div>

            <div class="slider-item">
                <img src="~/Content/img/trang_2.jpg" />
                @**<div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">

                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">"Mọi hạnh phúc trên đời đều xuất phát từ một bữa sáng nhàn nhã."John Gunther</p>

                    </div>
                </div>
            </div>*@
            </div>
            <div class="slider-item">
                <img src="~/Content/img/trang-1.jpg" />
                @**<div class="container">
                <div class="row slider-text align-items-center justify-content-center">
                    <div class="col-md-8 text-center col-sm-12 ">

                        <p class="mb-5" data-aos="fade-up" data-aos-delay="100">"Mọi hạnh phúc trên đời đều xuất phát từ một bữa sáng nhàn nhã."John Gunther</p>

                    </div>
                </div>
            </div>*@
            </div>
        </section>
        <!-- END slider -->
    </div>






    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()`
        </main>
    </div>

    <footer class="site-footer" role="contentinfo">
        <div class="container mb-5">
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <h3>Theo dõi Bảng Tin</h3>
                           
                        </div>

                        <form action="" class="col-12 mb-5">
                            <div class="row align-items-center">
                                <div class="col-md-8 mb-3 mb-md-0">
                                    <input type="text" class="form-control" placeholder="Nhập Email của bạn">
                                </div>
                                <div class="col-md-4">
                                    <input type="submit" class="btn btn-primary btn-block" value="Theo dõi">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-4 mb-5">
                    <h3>Về Chúng tôi</h3>
                    <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus et dolor blanditiis consequuntur ex voluptates perspiciatis omnis unde minima expedita.</p>
                    <ul class="list-unstyled footer-link d-flex footer-social">
                        <li><a href="#" class="p-2"><span class="fa fa-twitter"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-facebook"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-linkedin"></span></a></li>
                        <li><a href="#" class="p-2"><span class="fa fa-instagram"></span></a></li>
                    </ul>

                </div>
                <div class="col-md-5 mb-5">
                    <div class="mb-5">
                        <h3>Giờ Mở Cửa</h3>
                        <p><strong class="d-block font-weight-normal text-black">Cả Tuần</strong> 9h-22h</p>
                    </div>
                    <div>
                        <h3>Thông tin liên lạc</h3>
                        <ul class="list-unstyled footer-link">
                            <li class="d-block">
                                <span class="d-block text-black">Địa chỉ:</span>
                                <span>475A Điện Biên Phủ, Phường 25, Quận Bình Thạnh, Tp.HCM</span>
                            </li>
                            <li class="d-block"><span class="d-block text-black">Số điện thoại:</span><span>028 3512 0791</span></li>
                            <li class="d-block"><span class="d-block text-black">Email:</span><span>nqs123@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 mb-5">
                    <h3>Đường dẫn nhanh</h3>
                    <ul class="list-unstyled footer-link">
                        <li><a href="#">Thực Đơn</a></li>
                        <li><a href="#">Đặt Hàng</a></li>
                        <li><a href="#">Khuyến Mãi</a></li>
                        <li><a href="#">Liên Hệ</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!-- END footer -->
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#cf1d16" /></svg></div>


    <script src="~/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/aos.js"></script>
    <script src="~/Content/js/magnific-popup-options.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("scripts", required: false)




</body>
</html>

@*background-color: rgba(0,0,0, 0.2);
        width: auto;
        height: 30px;*@